*{
  border: none;
  background-color: transparent;
}

/*==============Battery=================*/
.battery{
  .name{
    font-family: "SAO UI";
    color: white;
    font-size: 100%;
    letter-spacing: 0.2em;}
  .icon{
    margin-left: -30px;}
}

/*=============Clock==================*/
.clock-time{
    font-family: "SAO UI";
    font-size: 50px;
    color: rgba(200, 200, 200, 0.5)
}

/*=============Menu==================*/
.dropdowns{
  .dropdown{
    background-size: cover;
    box-shadow: none;
    &.config{
      background-image: url("./images/Config.svg");
      &.active{
        background-image: url("./images/Config_on.svg");
      }
    }
    &.man{
      background-image: url("./images/Man.svg");
      &.active{
        background-image: url("./images/Man_on.svg");
      }
    }
    &.message{
      background-image: url("./images/Message.svg");
      &.active{
        background-image: url("./images/Message_on.svg");
      }
    }
  }
}

.subMenu{
  margin: 0;
  label{
    background-color: white;
    color: rgb(31, 31, 31);
    border: none;
  }
}

.test{
  background-color: blue;
  .test{
    background-color: red;
  }
}